:root {
  --sofka-time-codder-primary: #4caf50;
  --sofka-time-coder-accent: #cc6d00;
}

body, html {
  margin: 8px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

.devtimer-app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-sizing: border-box;
  padding: 0px;
}

.title {
  margin-top: 0px;
  margin-bottom: 16px;
}