.report-container {
  padding: 0px;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.content-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.tab-content {
  min-height: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 32px;
}

.vscode-button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  padding: 6px 14px;
  border-radius: 2px;
  cursor: pointer;
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  transition: background-color 0.2s ease;
}

.vscode-button:hover {
  background-color: var(--vscode-button-hoverBackground);
}
